* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Geist", sans-serif;
    color: var(--primary-color);
    background-color: var(--primary-bg);
}

main {
    display: flex;
    flex-direction: column;
}

.header {
    font-family: "Inter", sans-serif;
}

.logo>svg {
    height: 2em;
    width: 2em;
    color: var(--accent-color);
}