* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Geist", sans-serif;
    color: var(--primary-color);
    background-color: var(--primary-bg);
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

a {
  color: var(--secondary-color--80);
}

.noa {
  color: unset;
  text-decoration: unset;
}

hr {
  border: none;
  border-bottom: 1px solid var(--secondary-color--30);
  width: 100%;
  margin: 0;
}

* {
  scrollbar-color: var(--secondary-color--60) var(--secondary-bg); /* thumb color | track color */
}

#app {
    overflow: clip
}

.toasty {
  background-color: var(--field-bg)!important;
  color: var(--primary-color)!important;
  padding: 1rem!important;
}


.wrapper {
    display: flex;
    flex-direction: column;
    margin: 2em 0 2em 0;
    align-self: center;
    width: 95%;
    flex: 1;
    gap: 2em;
}

.wrapperWith {
    display: flex;
    flex-direction: column-reverse;
    margin: 2em 0 2em 0;
    align-self: center;
    width: 95%;
    flex: 1;
    gap: 2em;
}


.inner {
    display: flex;
    min-height: 55vh;
    flex: 1;
    min-width: 0;
}

.header {
    font-family: "Inter", sans-serif;
}

.smallText {
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &>svg {
        font-size: 0.9rem;
    }
}

.tint {
  color: var(--secondary-color--60);
}

.ligs {
  font-variant-ligatures: common-ligatures contextual!important;
  font-feature-settings: "liga" 1, "calt" 1, "clig" 1;
  text-rendering: optimizeLegibility;
}


.noa >span {
  color: var(--primary-color);
}

.logo>svg {
    height: 2em;
    width: 2em;
    color: var(--accent-color);
}

#metaInfo {
    position: sticky;
    flex-shrink: 0;
}

#editorDiv {
  display: flex;
  flex-direction: column;
}

.prism-code-editor {
  height: 100%;
}

input {
    background-color: var(--field-bg);
    outline: none;
    border: 1px solid var(--secondary-color--10);
    border-radius: .2em;
    padding: .6em;
    color: var(--secondary-color);
}

input:focus {
    outline: 1px solid var(--secondary-color--30);
}

.blue {
    color: #888edb;
}

.secondary {
  color: var(--secondary-color);
}

.langIn {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.langIn > svg {
  height: 1.2em;
  width: auto;
}

/* BUTTONS */
.saveButton {
    background-color: var(--success);
    padding: 1em;
    border-radius: 0.4em;
    text-align: center;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    user-select: none;
    margin-top: auto;
}

.saveButton:hover {
    cursor: pointer;
    background-color: var(--success--2);
}

.saveButton:active {
    transform: scale(.99);
}

.error {
  background-color: var(--error--60);
  &:hover {
    background-color: var(--error);
  }
}

.reportButton {
  padding: 0.6em;
  width: 60%;
  align-self: center;
  color: var(--error);
  &:hover {
    cursor: pointer;
    background-color: var(--error--60);
    color: #FFFFFF;
  }
  background-color: transparent;
  border: 1px dashed var(--error--60);
  font-weight: 400;
  font-size: 0.85rem;
  font-family: "Inter", sans-serif;
}

/* --- END BUTTONS --- */

/* SELECT BAR */
.customSelect {
  .solid-select-list {
    z-index: 9;
    &:hover {
      cursor: pointer;
    }
  }
  &.solid-select-container {
    color: var(--secondary-color);
    background-color: var(--field-bg);
    height: 2.6em;
    &:hover {
      cursor: pointer;
    }
  }
  .solid-select-control {
    z-index: 9;
    height: 2.6em;
    align-items: center;
    border: 1px solid var(--secondary-color--10);
    border-radius: .2em;
    &:focus-within {
      outline: 1px solid var(--secondary-color--30);
    }

    &:hover {
      cursor: pointer;
    }
  }
  .solid-select-input {
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
  .solid-select-placeholder {
    color: var(--secondary-color);
  }
  .solid-select-option {
    white-space: nowrap;
    &:hover {
      background-color: var(--secondary-bg);
      color: var(--primary-color);
      border-radius: 0.3em;
      cursor: pointer;
    }
    &[data-focused="true"] {
      background-color: var(--secondary-bg);
      color: var(--primary-color);
      border-radius: 0.3em;
    }
  }

  .solid-select-single-value {
    white-space: nowrap;
  }

  .solid-select-list {
    min-width: max-content;
  }
}

.settingsSelect {
  .solid-select-list {
    z-index: 9;
    &:hover {
      cursor: pointer;
    }
  }
  &.solid-select-container {
    color: var(--primary-color);
    background-color: var(--primary-bg);
    height: 2.6em;
    &:hover {
      cursor: pointer;
    }
  }
  .solid-select-control {
    z-index: 9;
    height: 2.6em;
    align-items: center;
    border: none;
    &:focus-within {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .solid-select-input {
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
  .solid-select-placeholder {
    color: var(--secondary-color);
  }
  .solid-select-option {
    white-space: nowrap;
    &:hover {
      background-color: var(--primary-bg);
      color: var(--primary-color);
      border-radius: 0.3em;
      cursor: pointer;
    }
    &[data-focused="true"] {
      background-color: var(--primary-bg);
      color: var(--primary-color);
      border-radius: 0.3em;
    }
  }
}
/* --- END SELECT BAR --- */

/* SCREEN COMAPT */
@media (min-width: 992px) {
  .wrapper {
    flex-direction: row;
  }

  #metaInfo {
    min-width: 15%;
    height: 90vh;
    max-height: 100%;
    top: 4.2em;
  }

}

@media (min-width: 1536px) {
  .wrapper {
    width: 90%;
  }

  .inner {
    min-height: 35vh;
  }
}
/* --- END SCREEN COMPAT --- */

/* PRISM EDITOR STUFF */
.pce-wrapper {
    margin: .8em 0!important;
}

.prism-code-editor {
    margin-top: .4em;
    background-color: var(--editor-bg)!important;
    font-variant-ligatures: none;
    font-size: 14px;
    font-weight: 300!important;
}

/* --- END PRISM EDITOR STUFF --- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}