.container {
  width: 100%;
  border: 1px solid var(--secondary-color--10);
  border-radius: 0.3em;
  background-color: var(--editor-bg);
}

@media (prefers-reduced-motion: no-preference) {
  .container {
    transition:
      background-color 250ms ease,
      border-color 250ms ease;
  }
}
