.topBar {
    display: flex;
    padding: .6em;
    background-color: var(--secondary-bg);
    gap: 1em;
}

.topBar > input {
    background-color: var(--primary-bg);
}

.langSelect {
    font-size: 0.8em;
    font-weight: 600;
}