.part {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.8em;
    color: var(--secondary-color);
    font-weight: 700;
    user-select: none;
}


.smallText {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--secondary-color--60);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    &>svg {
        font-size: 0.9rem;
    }
}

.metaInner {
    height: 100%;
    max-height: 100%;
}

.addFileButton {
    border: 1px dashed var(--secondary-color--30);
    border-radius: 0.4em;
    padding: 0.6em 1em;
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    color: var(--secondary-color);
    cursor: pointer;
    user-select: none;

    &:hover {
        border-color: var(--secondary-color--60);
        color: var(--primary-color);
    }
}