@font-face {
    font-family: "Geist";
    src: url("/Geist.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/Inter.ttf") format("truetype");
    font-display: swap;
}

:root {
    --primary-color: #0F172A;
    --primary-bg: #F8FAFC;
    --secondary-bg: #EEF2FF;
    --secondary-color: #1F2937;
    --secondary-color--10: rgba(31, 41, 55, .1);
    --secondary-color--30: rgba(31, 41, 55, .3);
    --secondary-color--60: rgba(31, 41, 55, .72);
    --secondary-color--80: rgba(31, 41, 55, .9);
    --field-bg: #FFFFFF;
    --accent-color: #A85555;
    --editor-bg: #F1F5F9;
    --success: #2563EB;
    --success--40: rgba(37, 99, 235, 0.4);
    --success--60: rgba(37, 99, 235, 0.6);
    --success--80: rgba(37, 99, 235, 0.8);
    --success--2: #1D4ED8;
    --success-bg: #E8F0FF;
    --error: #E11D48;
    --error--2: #d61b44;
    --error--60: rgba(225, 29, 71, 0.6);
}

[data-theme="light"] {
    --primary-color: #0F172A;
    --primary-bg: #F8FAFC;
    --secondary-bg: #EEF2FF;
    --secondary-color: #1F2937;
    --secondary-color--10: rgba(31, 41, 55, .1);
    --secondary-color--30: rgba(31, 41, 55, .3);
    --secondary-color--60: rgba(31, 41, 55, .72);
    --secondary-color--80: rgba(31, 41, 55, .9);
    --field-bg: #FFFFFF;
    --accent-color: #A85555;
    --editor-bg: #F1F5F9;
    --success: #2563EB;
    --success--40: rgba(37, 99, 235, 0.4);
    --success--2: #1D4ED8;
    --success-bg: #E8F0FF;
    --error: #E11D48;
}

[data-theme="dark"] {
    --primary-color: #F1F5F9;
    --primary-bg: #13141C;
    --secondary-bg: #1A1D27;
    --secondary-color: #94A3B8;
    --secondary-color--10: rgba(148, 163, 184, .1);
    --secondary-color--30: rgba(148, 163, 184, .3);
    --secondary-color--60: rgba(148, 163, 184, .6);
    --secondary-color--80: rgba(148, 163, 184, .8);
    --field-bg: #1A1B26;
    --accent-color: #DCA1A1;
    --editor-bg: #1A161F;
    --success: #3B82F6;
    --success--40: rgba(80, 130, 250, 0.4);
    --success--2: #3679e4;
    --success-bg: rgb(22, 16, 31);
    --error: #F43F5E;
}