@font-face {
    font-family: "Geist";
    src: url("/Geist.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/Inter.ttf") format("truetype");
    font-display: swap;
}

:root {

}

[data-theme="dark"] {
    --primary-color: #F1F5F9;
    --primary-bg: #13141C;
    --secondary-bg: #1A1D27;
    --secondary-color: #94A3B8;
    --secondary-color--10: rgba(148, 163, 184, .1);
    --secondary-color--30: rgba(148, 163, 184, .3);
    --secondary-color--60: rgba(148, 163, 184, .6);
    --secondary-color--80: rgba(148, 163, 184, .8);
    --field-bg: #1A1B26;
    --accent-color: #DCA1A1;
    --editor-bg: #1A161F;
    --success: #3B82F6;
    --success--2: #3679e4;
    --error: #F43F5E;
}