.container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg);
    padding: .4em;
    padding-left: 1em;
    position: sticky;
    top: 0;
    z-index: 9;
}

.topRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .45em;
}

.metaRow {
    display: flex;
}

.settings {
    margin-left: auto;
    margin-right: 1.4rem;
    padding: .6rem 0 0 0;
    color: var(--secondary-color);
}

.settings:hover {
    cursor: pointer;
}
