.container {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg);
    padding: .4em;
    position: sticky;
    top: 0;
}

.topRow {
    display: flex;
    flex-direction: row;
}

.metaRow {
    display: flex;
}